// border color
$border_color_black: 1px solid #000;
$border_color_pink: 3px solid #ff7c98;
$border_color_gray: 1px solid #e2d9d6;
$botder_color_orange: 1px solid #feaf2b;

// color
$color_white: #fff;
$color_black: #000;
$color_pink: #ff7c98;
$color_util_black: #4a3d39; // Header Util
$color_mainlist_black: #483834; // 메인 list
$color_lightgray: #948780; // 서브 list, 상시진행
$color_title_black: #2f231c; // Section01 title
$color_footer_black: #726454;
$color_address: #635b56;
$color_copytight: #b1adab;
